.game-piece {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: transparent;
}

.game-piece--player1 {
  background-color: rgb(72,120,205);
}

.game-piece--player2 {
  background-color: rgb(254, 253, 51);
}

.selection-piece {
  background-color: gray;
}

.selection-piece:hover {
  cursor: pointer;
}